@media screen and (max-width: 768px) {
    :root {
        font-size: 14px;
        --min-height-footer-mobile: 402px;
    }
    
    h1 {
        margin-block: 1.6rem !important;
        text-align: center;
    }

    /* HEADER */
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--background);
        overflow-x: hidden;
        z-index: 2000;
    }

    /* MAIN */
    .main {
        min-height: calc(100svh - (var(--min-height-footer-mobile) - 88px)) !important;
        margin-top: 60px !important;
    }

    /* FOOTER */
    .footer {
        min-height: var(--min-height-footer-mobile);
        /*max-height: var(--max-height-footer-mobile);*/
    }

    .footer .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-text {
        text-align: center;
        text-overflow: ellipsis;
    }

    .footer-nav {
        flex-direction: column;
        align-items: center !important;
        gap: 2rem;

        & .nav-title {
            margin-bottom: .5rem !important;
        }
    }


    /* FORMS */
    .form-container {
        padding-inline: 10px;

        & .form-inline {
            flex-direction: column;

            & .formRegister-input-error {
                width: 100% !important;
            }
        }
    }

    /* CAMPAIGNS */
    .campaigns-banner {

        & .campaigns-form {
            min-width: 90%;
        }

        & .campaigns-banner-title {
            text-align: center;
        }

        & .campaigns-list::-webkit-scrollbar {
            display: none;
        }

        & .campaigns-list {
            overflow-x: auto;
            white-space: nowrap;
            gap: .8rem;
            -ms-overflow-style: none; /* Internet Explorer 10+ */
            scrollbar-width: none;

            & .campaigns-link {
                flex: 0 0 auto;
                padding: 10px;
            }
        }
    }

    .campaigns-cards {
        padding-inline: 10px;
    }

    /* ACCOUNT */
    .account {
        grid-template-columns: 1fr !important;

        & .account-nav-aside {
            display: none;
        }

        & .p-divider {
            display: none;
        }

        & .input-error {
            width: 100% !important;
        }

        .profil {

            & .fileUploaderProfil-banner-upload {
                width: 100px;
                height: 100px;
            }

            & .fileUploaderProfil-button-list > * {
                width: 35px;
                height: 35px;
            }
        }
    }

    /* CAMPAIGN */
    .campaign.container {
        padding-inline: 10px;

        & .campaign-body {
            grid-template-columns: minmax(250px, 1fr) !important;
            gap: 1.6rem
        }
    }

    /* PARTICIPANT BANNER */
    .participant-banner-infos {

        align-items: initial !important;

        & .participant-banner-participant {
            flex-direction: column;
            align-items: center;
            gap: .5rem;
            min-width: max-content;
        }

        & .participant-banner-amount {
            min-width: max-content;
            display: grid;
            place-items: center;
        }
    }

    /* DASHBOARD */
    .dashboard {
        & .dashboard-list-campaigns {
            padding-inline: 10px;

            & .dashboard-campaign {
                grid-template-columns: minmax(250px, 1fr) !important;
                height: auto;
                padding: 1rem;

                & .dashboard-campaign-list-btn {
                    flex-direction: column;
                    align-items: center;

                    & > * {
                        width: 100%;
                    }
                }
            }
        }
    }
}