@media screen and (max-width: 768px) {
    :root {
        font-size: 14px;
        --min-height-footer-mobile: 402px;
    }

    h1 {
        margin-block: 1rem !important;
        text-align: center;
    }

    /* HEADER */
    .header {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: var(--background);
        z-index: 2000;
    }

    /* MAIN */
    .main {
        min-height: calc(100svh - (var(--min-height-footer-mobile) - 88px)) !important;
        margin-top: 60px !important;
    }

    /* FOOTER */
    .footer {
        min-height: var(--min-height-footer-mobile);
        /*max-height: var(--max-height-footer-mobile);*/
    }

    .footer .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-text {
        text-align: center;
        text-overflow: ellipsis;
    }

    .footer-nav {
        flex-direction: column;
        align-items: center !important;
        gap: 2rem;

        & .nav-title {
            margin-bottom: .5rem !important;
        }
    }


    /* FORMS */
    .form-container {
        padding-inline: 10px;

        & .form-inline {
            flex-direction: column;

            & .formRegister-input-error {
                width: 100% !important;
            }
        }
    }

    .campaigns-banner {

        & .campaigns-form {
            min-width: 90%;
        }

        & .campaigns-banner-title {
            text-align: center;
        }

        & .campaigns-list::-webkit-scrollbar {
            display: none;
        }

        & .campaigns-list {
            overflow-x: auto;
            white-space: nowrap;
            gap: .8rem;
            -ms-overflow-style: none; /* Internet Explorer 10+ */
            scrollbar-width: none;

            & .campaigns-link {
                flex: 0 0 auto;
                padding: 10px;
            }
        }
    }

    .campaigns-cards {
        padding-inline: 10px;
    }

    /* ACCOUNT */
    .account {
        grid-template-columns: 1fr !important;

        & .account-nav-aside {
            display: none;
        }

        & .p-divider {
            display: none;
        }

        & .input-error {
            width: 100% !important;
        }
    }

}