/* link: https://www.realtimecolors.com/?colors=080d12-f2f7fb-317AC1-88bbed-479cf2&fonts=Koh%20Santepheap-Koh%20Santepheap */
@import "tablet.css";
@import "mobile.css";

:root {
    --text: hsl(210, 38%, 5%);
    --text5: hsl(210, 38%, 5%, 5%);
    --text50: hsl(210, 38%, 5%, 50%);
    --background: hsl(207, 53%, 97%);
    --background-90: hsl(207, 53%, 90%);
    --primary: hsl(210, 60%, 47%);
    --secondary: hsl(210, 74%, 73%);
    --secondary20: hsl(210, 74%, 73%, 20%);
    --accent: hsl(210, 87%, 61%);
    --headerHeight: 60px;
    --footerHeight: 307px;


    /* mise en forme personnel pour PrimeVue */

    .buttonFilled {
        background-color: var(--accent);
        color: var(--text);
        border: solid 2px transparent;
    }

    .buttonFilled:not(:disabled, .share-button):hover {
        background-color: var(--accent);
        border: var(--primary) solid 2px;
        color: var(--text);
    }

    .buttonOutlined {
        border-color: var(--primary);
        color: var(--text);
    }

    .buttonOutlined:not(:disabled):hover {
        border-color: var(--primary);
        background-color: var(--background-90);
        color: var(--text);
    }


    button.p-paginator-page-selected {
        background: var(--accent);
        color: var(--text);
    }

}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    text-decoration: none;
}

body {
    min-height: 100svh;
    background-color: var(--background);
    font-size: 1rem;
}

h1 {
    margin-bottom: 3.5rem;
    font-size: 1.5rem
}

img, svg {
    display: block;
    height: auto;
    max-width: 100%;
}

a {
    color: var(--text);
}

.container {
    width: 100%;
    max-width: 1400px;
}

#app {
    min-height: inherit;
}


.form-container {
    display: flex;
    flex-direction: column;
    row-gap: 1.3rem;
    width: 100%;
    max-width: 800px;
}

.form-inline {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
}

.form-inputLabel {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

.form-inline .form-inputLabel_inline {
    width: 100%;
}

.main {
    min-height: calc(100svh - (var(--headerHeight) + var(--footerHeight) + 32px));
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.main:not(:has(.campaigns-banner, .dashboard, .home)) {
    min-height: calc(100svh - (var(--headerHeight) + var(--footerHeight) + 64px));
    justify-content: center;
    margin: 2rem 0;
}

.primary-button {
    padding: 0.5em 2em;
    background-color: var(--accent);
    border-radius: .5rem;
    display: inline-block;
    font-size: 1rem;
    z-index: 2;
    white-space: nowrap;
}

.input-error {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

/*********** Quill component **********/

.ql-toolbar {
    background-color: #fff;
}

/*********** Quill component **********/


/*********** CampaignBanner component **********/

.campaigns-banner input {
    border-radius: unset;
    border: transparent;
}

/*********** CampaignBanner component **********/


/*********** Card component **********/

.p-card-header {
    position: relative;
    height: 210px;
}

.p-card-header img {
    height: inherit;
    width: 100%;
    object-fit: cover;
}

/*********** Card component **********/


/****** Carousel *******/
.p-carousel-indicator-button {
    background-color: var(--secondary) !important;
}

.p-carousel-indicator-active .p-carousel-indicator-button {
    background-color: var(--primary) !important;
}

/****** Carousel *******/


/******** CHECKBOX *******/
.input-checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.p-checkbox-checked .p-checkbox-box {
    background-color: var(--accent) !important;
    border-color: var(--primary) !important;
}

/******** CHECKBOX *******/